.coupon{
	display:inline-block;
	width:100%;
	position: relative;
	margin-bottom:50px;
	.form-group{
		margin-bottom:0px !important; 
	}
	.control-label{
		display: inline-block;
		position:absolute;
		left: 0px;
		top: 0px;
		padding:0px;
		margin: 0px;
		height: 100%;
		border-right:1px solid #dcdcdc;
		font-family: "Oswald" !important;
		font-size: 12px !important;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #000;
		font-weight: 700 !important;
		line-height: 60px;
		padding:0px 20px;
	}
	button{
		margin-top:0px !important;
		position:absolute;
		top: 0px;
		right: 0px; 
		height: 60px;
		outline: none;
	}
	.form-control{
		height: 60px;
		border:1px solid #dcdcdc;
		padding-left: 145px;
		font-family: "Poppins";
		color: #8d8c8c;
		padding-right:180px;
		box-shadow:none;
	}
}
.cart-box-container{
	.col-md-4{
		padding-right:0px;
	}
	.col-md-8{
		padding-left:0px;
	}
	.text-price{
		padding:20px;
		padding-bottom:160px;
		background: #f0f0f0;
		margin-bottom:50px; 
		position:relative;
		display: inline-block;
		width: 100%;
		h3{
			font-family: "Oswald";
			font-size: 12px;
			font-weight:700;
			letter-spacing: 2px;
			padding:17px 0px 5px;
			width: 100%;
			display: inline-block;
			border-bottom: 2px solid #000;
		}
		a{
			margin-top:0px !important;width:100%;
			height: 75px;
			line-height: 75px; 
			&.update{
				position: absolute;
				left: 0px;
				bottom: 75px;
				background:#333;
				border-color:#333;
			}
			&.checkout{
				position:absolute;
				left: 0px;
				bottom:0px;
			}
		}
		ul{
			li{
				padding:20px 0px;
				border-bottom:1px solid #dadada;
				&:last-child{
					border:none;
				}
				.text{
					font-weight: 300;
					font-size: 12px;
					text-transform: uppercase;
					letter-spacing: 2px;	
					&.calculate{
						display: inline-block;
						width: 100%;
						position:relative;
						cursor: pointer;
						&:after{
							position:absolute;
							content: "";
							right: 0px;
							top: 0px;
							height: 12px;
							width: 12px;
							font-family: "FontAwesome";
							content: "";
							color: #000;
						}
						&.active{
							&:after{
								content: "";
							}
						}
					}
				}

				.number{
					font-family:"Poppins";
					font-size: 14px;
					font-weight: 400;
					color: #010101;
				}
				.zipcode{
					display: none;
					margin-top:30px; 
				}
				.payment{
					float: right;
					max-width: 220px;
					label{
						width: 100%;
						font-family:"Poppins";
						font-size: 13px;
						font-weight: 400;
						color: #858585;
						cursor: pointer;
						padding-left:20px;
						position: relative;
						margin-bottom:10px; 
						&:before{
							content: "";
							display: inline-block;
							width: 12px;
							height:12px;
							position: absolute;
							left: 0px;
							top:3px;
							background:url(../images/select-radio.png)no-repeat scroll left top;
						}
					}
					input{
						display: none;
					}
					input[type=radio]:checked + label:before{
						background:url(../images/select-radio.png)no-repeat scroll left bottom;
					}
				}
			}
		}
	}
	@media(max-width:1200px){
		.row{
			margin: 0px;
		}
	}
}
.head-cart{
	.item{
		border:1px solid #ebebeb;
		padding:60px 0px;
		.icon{
			font:400 22px/64px "Roboto Condensed";
			display: inline-block;
			width: 66px;
			height: 66px;
			border-radius:50%;
			border:1px solid #c2c2c2;
			background: #fff;
			color:#565656;
		}
		&.active{
			.icon{
				background:$brand-primary;
				color:#fff;
				border-color:$brand-primary;
			}
		}
		h3{
			font:400 24px/30px "Roboto Condensed";
			color:#565656;
			text-transform: uppercase;
			margin-top:25px; 
			margin-bottom:10px; 
			padding-bottom:20px;
			position: relative;
			&:after{
				position: absolute;
				content: '';
				bottom: 0px;
				left: 0px;
				right: 0px;
				margin: auto;
				height: 1px;
				width: 75px;
				margin: auto;
				background:$brand-primary;
			}
		}
	}
}
table.table.cart-table{
	thead{
		background: #565656;
		th{
			color:#fff;
			font:700 18px "Roboto Condensed";
			padding:12px 0px;
			letter-spacing: 0px;
			&:first-child{
				padding-left:30px;
			}
			&.add-cart{
				text-align: right;
				padding-right:20px;
			}
		}
	}
	tbody{
		tr{
			border-bottom:1px solid #ddd;
		}
	}
	td{
		&.total-price{
			width: 70px;
		}
		&.product-photo{
			max-width: 200px;
			width:250px;
			img{
				width: 200px;
			}
		}
		&.produc-name{
			a{
				font:400 20px "Playfair Display";
				color:#2b2b2b;
			}
		}
		&.produc-name{
			width: 30%;
		}
		&.produc-price,&.product-quantity,&.total-price{
			width: 15%;
		}
		
		&.produc-price{
			input{
				border:none;
				font:400 20px "Roboto Condensed";
				color:$brand-primary;
			}
		}
		&.product-quantity{
			input{
				border:1px solid #d8d8d8;
				height: 50px;
				width: 130px;
				text-align:center;
				font:700 20px "Roboto Condensed";
				color:#565656;
			}
			.quantity{
				position: relative;
				.minus,.plus{
					left: 10px;
					top:15px;
					position: absolute;
					cursor: pointer;
					&:hover{
						i{
							color:$brand-primary;
						}
					}
				}
				.plus{
					left: 110px;
				}
			}
		}
		&.product-instock{
			font:400 18px/25px "Roboto Condensed";
			color:$brand-primary;
			.out{
				color:#333;
			}
			i{
				margin-right:8px; 
			}
		}
		&.total-price{
			color:$brand-primary;
			font:400 20px "Roboto Condensed";
		}

		&.add-cart{
			text-align: right;
			padding:0 30px;
			i{
				margin-right:8px; 
			}
		}
	}
}
.cart-total{
	.item{
		padding:30px;
		border:1px solid #e7e7e7;
		h3.title{
			font:700 18px "Roboto Condensed";
			color:#565656;
			text-transform: uppercase;
			margin-bottom:20px; 
		}
		p{
			font:400 16px/20px "Roboto Condensed";
			color:#565656;
			margin-bottom:10px; 
		}
	}
}
.cart-box-container{
	.cart-total{
		.col-md-4{
			padding-right:15px;
		}
	}
}
.form-control.control-search{
	color:#333;
}