.products{
	&.grid_full{
		.item-inner{
			width: 20%;
			float: left;
			margin: 15px 0px;
			transition:all 0.3s ease 0s; 
		}
		&.grid_sidebar{
			.item-inner{
				width: 25%;
				transition:all 0.3s ease 0s;
				&:nth-child(4n+1){
					padding:0px 21px 0 0;
				}
				&:nth-child(4n+2){
					padding:0 14px 0 7px;
				}
				&:nth-child(4n+3){
					padding:0 7px 0 14px;
				}
				&:nth-child(4n){
					padding:0px 0 0 21px;
				}
			}
		}	
		.container{
			padding: 0px;
		}
		.social{
			display: none;
		}
		&.list-item{
			.item-inner{
				transition: all 0.4s ease 0s;
				width: 100%;
				padding: 0 0 10px 0 !important;
				.product{
					text-align: left;
					padding:30px 0px;
					.product-title{
						color: #000;
						font: 400 48px/50px "Playfair Display";
						margin-bottom:20px; 
					}
					.product-price{
						width: auto;
						float: initial;
						font:400 36px "Roboto Condensed";
						vertical-align: bottom;
					}
					.product-price-old{
						vertical-align: bottom;
						font:400 30px "Roboto Condensed";
					}
					.description{
						margin: 20px 0px;
						font:400 18px/25px "Roboto Condensed";
						color:#565656;
					}
					.action{
						position:static;
						padding-left:20px;
						a{
							transform: translate(0px, 0px);
							opacity: 1;
							display: inline-block;
							background:#fff;
							text-align:center;
							height: 50px;
							width: 50px;
							border:1px solid #d6d6d6;
							margin-right:10px; 
							i{
								background-color:#fff;
								line-height: 48px;
							}
							&:hover{
								i{
									background-color:#000;
									color: #fff;
								}
							}
						}
					}
				}
				.social{
					display: block;
					margin-top:15px;
					padding-top:15px; 
					position: relative;
					&:after{
						position: absolute;
						content: '';
						left: 15px;
						right: 15px;
						height: 1px;
						background:#f5f5f5;
						top:0px;
					}
					h3{
						display: inline-block;
						font:700 14px/20px "Roboto Condensed";
						text-transform: uppercase;
					}
					a{
						display: inline-block;
						margin: 0 5px;
						&.twitter{
							i{color:#55acee;}
						}
						&.dribbble{
							i{color:#e04c86;}
						}
						&.skype{
							i{color:#00aff0;}
						}
						&.pinterest{
							i{color:#bd081c;}
						}
						&.facebook{
							i{color:#3b5998;}
						}
						i{
							font-size:24px;
						}
					}
				}
				.product-images{
					width: 25%;
					float: left;
				}
				.product-title,.product-price,.description,.action,.social{
					width: 75%;
					float: right;
					padding-left: 20px;
				}
				.product-title{
					font-weight: 700;
					font-size: 16px;
					color: $gray;
				}
				.description{
					display: inline-block;
				}
				.content-star{
					float: left;
					width: 100%;
				}
			}
		}
		.product{
			.wrap-product-images{
				position: relative;
			}
			.product-price{
				&::after{
					position: static;
				}
			}
		}
	}
	&.ver2{
		.product{
			padding:0px;
			p.product-title,.product-price-old,.product-price{
				margin-top:-80px;
				position: relative;
				z-index: 2; 
			}
			.product-price-old,.product-price{
				margin-top:0px; 
			}
		}
		@media(max-width:767px) and (min-width:640px){
			.col-sm-6{
				width: 50%;
				float: left;
			}
		}
	}
	.product{
		position: relative;
		text-align: center;
		overflow: hidden;
		.product-images{
			display: inline-block;
			position: relative;
			width: 100%;

			img{
				width: 100%;
			}
		}
		&:hover{
			.product-title{
				color:$brand-primary;
			}
		}
		p.product-title{
			font-family: "Playfair Display";
			font-size: 16px;
			color: #000;
			line-height: 34px;
			font-weight: 400;
		}
		.description{
			display: none;
			font:400 13px/20px "Poppins";
			color: #858585;
			margin-bottom:15px; 
		}
		.product-price{
			font-size: 18px;
			color: $brand-primary;
			line-height: 20px;
			position: relative;
			font-family: "Roboto Condensed";
			font-weight: 400;
			margin-bottom:20px; 
			display: inline-block;
			vertical-align: bottom;
			&:after{
				position: absolute;
				content: "";
				height: 1px;
				background:$gray-lighter;
				bottom: 0px;
				left: 50%;
				right: 50%;
				@include transition(all 0.6s ease 0s);
			}
		}
		.product-price-old{
			display: inline-block;
			vertical-align: bottom;
			margin-bottom:20px;
			font-size: 14px;
			color:#979797;
			font-family: "Roboto Condensed";
			font-weight: 400;
			text-decoration: line-through; 
			margin-right:5px; 
		}
		.add-to-cart{
			display: inline-block;
			padding: 0px;
			text-transform: uppercase;
			font-size: 13px;
			color: #222;
			margin-bottom: 20px;
			font-style: normal;
			opacity: 0;
			padding-left:20px;
			@include transition(all 0.3s ease 0s);
			position: relative;
			&::after{
				font-family: "FontAwesome";
				font-size: 16px;
				font-style: normal;
				line-height: 1;
				position: absolute;
				content: "\f067";
				left: 0px;
				top:3px;
				color: $gray;
			}
		}
		img.secondary_image{
			opacity: 0;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: auto;
		}
		.action{
			display: inline-block;
			position: absolute;
			right: 5px;
			top:15px;
			@media(max-width:640px){
				display: none;
			}			
			a{
				opacity: 0;
				display: block;
				margin-bottom:5px;
				@include size(35px,35px);
				transform:translate(30px, 0px);
				position:relative;
				background:none;
				text-align: center;
				&:first-child{			
					@include transition(all 0.3s ease 0.4s);				
				}
				&:nth-child(2){			
					@include transition(all 0.3s ease 0.3s);				
				}
				&:nth-child(3){			
					@include transition(all 0.3s ease 0.2s);				
				}
				&:last-child{
					@include transition(all 0.3s ease 0.1s);	
				}
				i{
					font-size: 18px;
					background: none;
					padding:0px;
					color: #000;
					display: inline-block;
					line-height: 35px;
					width: 100%;
					height: 100%;
					@include transition(all 0.3s ease 0s);
				}
				&:hover{
					i{
						color: $brand-primary;
					}
				}	
			}
		}
		.content-star{
			float: right;
			font-size: 10px;
			margin-bottom:0px; 
			i.active{
				color: #e19824;
			}
		}
		.lable{
			position: absolute;
			right: 10px;
			top: 10px;
			z-index: 99;
			font-size: 11px;
			text-transform: capitalize;
			color: #fff;
			display: inline-block;
			padding: 5px 10px;
			background-color: #000;
		}
		&.sale{
			.product-price{
				color: #e19824;
				.price-old{
					color: #999;
					font-weight: 400;
					margin-left: 5px;
					text-decoration: line-through;
				}
			}
		}

	}
}
.product{
	border-radius: 0x;
	@include transition(all 0.5s ease 0s);
	&:hover{
		img.primary_image{
			transform: scale(1.1);
			@include transition(all 0.3s ease 0s);
		}
		.action{
			a{
				opacity: 100;
				transform:translate(0px, 0px);
			}			
		}
		.add-to-cart{
			opacity: 100;
		}
	}
	.lab{
		text-transform: uppercase;
		font:500 10px/24px "Roboto";
		color: #bc9e6b;
		border: 2px solid #bc9e6b;
		z-index: 9999;
		position: absolute;
		top: 30px;
		left: 0px;
		width: 65px;
		height: 30px;
		text-align: center;
		letter-spacing: 6px;
		padding-left:6px;
		transform: rotate(-90deg);	
		&.new{
			color: #fa7468;
			border-color:#fa7468;
		}
		&.sold{
			color: #000;
			border-color:#000;
			width: 120px;
			top: 50px;
			left: -40px;
		}
	}
}
.tab-content{
	@include transition(all 0.3s ease 0s);
	transform: translate(0px, 20px);
	&.active{
		transform: translate(0px, 0px);
	}
}
.tab-product-all{
	.products{
		margin: 0 -15px;
		.item-inner{
			width: 20%;
			float: left;
			padding:0 15px;
		}
	}
	&.tab-product-all-v2{
		.products{
			margin: 0px;
			border-top:1px solid #e0e0e0;
			border-left:1px solid #e0e0e0;
			overflow: hidden;
			.item-inner{
				padding:0px;
				border-bottom:1px solid #e0e0e0;
				border-right:1px solid #e0e0e0;
				.product-price{
					position:absolute;
					left:30px;
					top: 30px;
					color: #000;
				}
				.action{
					left: 20px;
					bottom:10px;
				}
			}
		}
		margin-bottom:30px;
		display: inline-block;
		width: 100%;
	}
	&.tab-product-all-v4{
		.col-md-6,.col-md-12{
			padding:0px;
		}
		.item-inner{
			width: 100%;
		}
	}
	&.tab-por{
		.products{
			border:none;
			.item-inner{
				.product{
					text-align: left;
				}
				border:none;
				width: 33.33%;
				padding:0 15px;
				margin-bottom:50px; 
				.product-title{
					position:static;
					left: 0px;
					top:0px;
					opacity: 1;
					color: #333;
					font:400 20px/30px "Playfair Display";
					text-align:left;
				}
				.product-brand{
					text-align: left;
					font:300 12px/20px "Oswald";
					color: #979797;
					text-transform: uppercase;
					letter-spacing: 2px;
				}
				.wishlist{
					display: inline-block;
					float: right;
					margin-top:-22px;
					font:300 12px/20px "Oswald";
					color: #000; 
					i{
						margin-right:3px; 
					}
				}
				.product-images{
					margin-bottom:20px; 
				}
			}
		}
		.product{
			&:hover{
				.quick-view{
					&:after{
						height: 0px;
					}
				}
				.product-title{
					transform: translate(0px, 0px);
				}
			}
		}
		.quick-view i{
			font-size: 40px;
		}
		&.tab-por-fulll-width{
			.products{
				.item-inner{
					width: 25%;
				}
			}
		}
	}
}
.products{
	&.mason-v1{
		.product{
			width: 100%;
			padding-right:0px !important;
			&:nth-child(1),&:nth-child(2){
				width: 50%;
				float: left;
			}
			&:nth-child(1){
				padding-right:15px !important;
			}
			&:nth-child(2){
				padding-left:15px;
			}
		}
	}
	&.mason-v2{
		.product{
			width: 100%;
			padding-left:0px !important;
			&:nth-child(2),&:nth-child(3){
				width: 50%;
				float: left;
			}
			&:nth-child(2){
				padding-right:15px;
			}
			&:nth-child(3){
				padding-left:15px !important;
			}
		}
	}
}
.tab-product-all-mason .tab-container .owl-stage-outer{
	padding:0px;
}
.products.hover-shadow{
	.product{
		transition: all 0.3s ease 0s;
		&:hover{
			box-shadow: 0px 8px 33px 0px rgba(0, 0, 0, 0.13);
			z-index: 2;
		}
	}
}