.effect-v6{	
	background-color: #000;
	overflow: hidden;
	position: relative;	
	margin: 0 auto;
	img {
	    @include opacity(1);
		@include transition (opacity 0.35s ease 0s);
		width: 100%;
	}
	.action {
	    transform: translate3d(0px, -100px, 0px);
    	transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    	opacity: 0;
    	position: absolute;
    	top: 50%;
    	width: 100%;
    	text-align: center;
    	i.icons{
    		color: $gray;
    		font-size: 22px;
    		margin: 0 10px;
    		&:hover{
    			color: $brand-primary !important;;
	    		background: none !important;
    		}
    	}
	}
	
	/* style for hover */
	&:hover{
		border-color: $brand-primary;
		img {
			@include opacity(0.3);
		}
		.action {
		    opacity: 1;
   			transform: translate3d(0px, 0px, 0px);
		}

	}
}

.about-icon{
	.feature-box p{
		font-family: "TXGR";
		font-style: normal;
	}
}

.about-content{	
	background-color:#eee;
	.banner-title{
		text-align: center;
		h3{
			font-size: 18px;
			text-transform: uppercase;
			line-height: 30px;
			font-family: "TXGR";
		}
		p{
			font-family: "Lora";
			font-style: italic;
			color: $gray;
			line-height: 20px;
		}
	}
	.effect-v6{
		border-radius:50%;
		background:#fff;
		border:4px solid $brand-primary;
		img{
			border-radius:50%;
		}
	}
}
.our-skills{
	h3{
		font-family: "TXGR";
		color: $gray;
		text-transform: uppercase;
		font-size: 14px;
		margin-bottom: 10px;
	}
	.progress-bar-success{
		background: $brand-primary;
	}
	.progress-bar{
		box-shadow:none;
		position: relative;
		span{
			position: absolute;
			top:-30px;
			right: -15px;
			color: $gray;
			font-family: "texgyreadventorbold";
			font-size: 14px;
		}
	}
	.progress{
		border-radius:0;
		height: 8px;
		box-shadow:none;
		overflow: visible;

	}
}
.head-about{
	.col-md-6{
		padding:0px;
	}
	.box{
		margin-top:-200px; 
		background: #fff;
		position: relative;
		box-shadow: 0px 8px 33px 0px rgba(0, 0, 0, 0.13); 
	}
	.text{
		padding:30px 40px;
		h3{
			font:400 48px/50px "Playfair Display";
			color:$brand-primary;
			text-transform: capitalize;
			margin: 40px 0px 60px;
		}
		p{
			font:400 18px/30px "Roboto Condensed";
			margin-bottom:30px; 
			color:#565656;
		}
		a{
			font:400 18px/20px "Roboto Condensed";
			color:$brand-primary;
			text-decoration: underline;
			margin-top:50px;
			display: block; 
		}
	}
}
.about-choose{
	background:#fbfbfb;
	h3{
		font:400 48px/50px "Playfair Display";
		color:$brand-primary;
		margin-bottom:30px; 
	}
	.border{
		p{
			font:400 18px/25px "Playfair Display";
			color:#565656;
			margin: auto;
			margin-bottom:30px; 
			padding: 0 40px;
			position: relative;
			padding-bottom:30px;
			&:before{
				position: absolute;
				left: 100px;
				right: 100px;
				height: 1px;
				bottom: 0px;
				background:#e6e6e6;
				content: '';
			} 
		}
	}
	.fbox-icon{
		font-size: 48px;
		margin-top:0px; 
	}
	.feature-box{
		.fbox-title{
			font:700 16px/20px "Roboto Condensed";
			color:#333;
			text-transform: uppercase;
			letter-spacing: 0px;
		}	
	}
}
.our-team{
	.head{
		margin-bottom:40px; 
		h3{
			font:400 48px/50px "Playfair Display";
			color:$brand-primary;
			margin: 10px 0px;
		}
		p{
			font:300 24px/30px "Roboto Condensed";
			color:#565656;
			text-transform: capitalize;
		}
	}
	.interactive-banner{
		display: inline-block;
		width: auto;
		border-radius:50%;
		max-width: 100%;
		transition:all 0.3s ease 0s;
		&:hover{
			box-shadow: 0px 8px 33px 0px rgba(0, 0, 0, 0.13);
		}
		img{
			margin: auto;
			border-radius:50%;
		}
	}
	.banner-title{
		h3{
			font:400 24px/30px "Roboto Condensed";
			text-transform: uppercase;
			margin: 10px 0px;
		}
		p{
			font:400 16px/20px "Roboto Condensed";
			color:$brand-primary;	
			text-transform: uppercase;
			margin-bottom:10px; 
		}
		.action{
			a{
				display: inline-block;
				margin: 0px 8px;
				transition:all 0.3s ease 0s;
				&:hover{
					i{
						color:$brand-primary;
					}
				}
			}
			i{
				font-size: 16px;
				color:#333;
			}
		}
	}
}
@include maxtable{
	.about-us{
		.col-md-4{
			&:nth-child(2){
				.feature-box{
					margin: 40px 0px 60px !important;
				}
			}
		}
		margin-bottom: 20px !important;
	}
}