{% extends 'base.html' %}

{% block body %}


{% if user.is_authenticated %}
		<div class="container container-ver2">
            <div class="page-login box space-50">
                <div class="row">
                    <div class="col-md-6 sign-in space-30">
                        <h3>Update File</h3>
                        <p></p>
                        <form action="." class="form-horizontal {text-transform: capitalize;}" method="POST" enctype="multipart/form-data">{% csrf_token %}{{form.as_p}}
                            <button type="submit" class="link-v1 rt">POST</button>
                        </form>
                        <!-- End form -->
                    </div>
                </div>
            </div>
        </div>


{% endif %}

{% endblock %}
