{% extends 'base.html' %}
{% load static %}
{% block body %}
{% if user.is_authenticated %}
{% else %}

        <!-- hero image -->
        <div class="container">
            <div class="tp-banner-container hidden-dot ver1">
            <div class="tp-banner" >
                <ul>
                    <li data-transition="fa-angle-down">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'assets/images/banner.jpg' %}" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    </li>
                </ul>
            </div>
        </div>
{% endif %}
{% endblock %}